<a href="https://colab.research.google.com/github/Aldairps95/2020_11_PythonWeekend/blob/main/Sesion2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Primer Script en Python

In [1]:
x = 2 
x = x + 2 
print (x)

4

In [3]:
x = 5 
if x < 10 :
  print("Mas pequeño")
if x > 10 :
  print("Mas grande")

Mas pequeño

In [8]:
n = 5 

while  n > 0 : 
  print(n)
  n = n - 1 # Linea de identacion

print ("BOOOOOM")

5
4
3
2
1
BOOOOOM

In [10]:
print(123)

123

In [11]:
print("Hola Mundo")

Hola Mundo

In [14]:
x = 12.2
y = 14
x

12.2

In [17]:
x = 2 # Asignacion 
x = x + 2 # Expresion 
# Tambien hay funciones 
print (x)

4

In [24]:
x1q3z9ocd = 35.0
x1q3z9afd = 12.50
x1q3p9ocd =  x1q3z9ocd * x1q3z9afd
print(x1q3p9ocd)

437.5

In [25]:
a = 35.0
b = 12.50
c = a * b
print(c)

437.5

In [26]:
horas = 35.0
tarifa = 12.50
salario = horas * tarifa
print(salario)

437.5

In [27]:
x = 0.6
y = 3.9 * x * (1-x)
print (y)

0.9359999999999999

In [29]:
# Sumar numero
inp = input("Ingrese numero: ") # Hay que tomar que cuenta que suele capturarlo como texto por eso se le transforma a numero
usf = int(inp) + 1
print( "Numero sumado 1 ->", usf)

Ingrese numero: 3
Numero sumado 1 -> 4

# Escriba un programa  para calcular  el sueldo  de un usuario en base  a las horas  y la tarifa por hora

In [31]:
# Ingresar por pantalla (por teclado) el numero de horas  trabajadas  y el costo por hora  e imprimir el salario que es la multiplicacion de h * ch
horas = input("Ingrese numero de horas: ") 
costo_hora = input("Ingrese el costo de la hora: ")
salario = int(horas) * int(costo_hora)
print( "El salario es ->", salario)

Ingrese numero de horas: 8
Ingrese el costo de la hora: 10
El salario es -> 80

1) Pedir dos numeros enteros  por pantalla  y guardarlos en dos variables. Sumarlos, restalos, multiplicarlos, hacer la operacion de modulo y mostrar el resultado de cada operacion por pantalla

In [33]:
num_1 = input("Ingresar un numero: ")
num_2 = input("Ingresar otro numero: ")

x= int(num_1)
y= int(num_2)

suma = x+y
resta = x-y
mult = x*y
mod = x%y
print("La suma es -> ", suma)
print("La resta es -> ", resta)
print("La multiplicacion es -> ", mult)
print("El modulo es -> ", mod)

Ingresar un numero: 6
Ingresar otro numero: 2
La suma es ->  8
La resta es ->  4
La multiplicacion es ->  12
El modulo es ->  0

In [35]:
a = 10 
b = 4 
c = 8 
d = 40

In [37]:
resultado4 = a > b and c > d  
resultado5 = a > c or d < b

In [38]:
print(resultado4)

False

In [39]:
print(resultado5)

True

2) Construir y mostrar una tabla de verdad de las operaciones and y or con los valores solicitados

### TABLA DE VERDAD DE **AND**

In [46]:
print(str(x==x) + " and " + str(x==x) + " -> " + str(x==x))
print(str(y==y) + " and " + str(x==y) + " -> " + str(x==y))
print(str(x==y) + " and " + str(x==x) + " -> " + str(x==y))
print(str(x==y) + " and " + str(x==y) + " -> " + str(x==y))

True and True -> True
True and False -> False
False and True -> False
False and False -> False

### TABLA DE VERDAD DE **OR**

In [47]:
print(str(x==x) + " and " + str(x==x) + " -> " + str(x==x))
print(str(y==y) + " and " + str(x==y) + " -> " + str(x==x))
print(str(x==y) + " and " + str(x==x) + " -> " + str(x==x))
print(str(x==y) + " and " + str(x==y) + " -> " + str(x==y))

True and True -> True
True and False -> True
False and True -> True
False and False -> False

Escribir un programa que dado 1 numero, imprime la tabla de multiplicar hasta el 10

In [52]:
y = input( "Ingrese numero entre para hacer  la tabla de multiplicar: ")
y = int(y)
x = 1

while(x<=y):
  print(x*y)
  x=x+1

Ingrese numero entre para hacer  la tabla de multiplicar: 5
5
10
15
20
25